
<div class="image_64">
    
    <div>
        <div class="navbar">
            <div class="Frame_38">
                <div class="Maze">Maze</div>
            </div>

            <div class="Frame_39">
                <img src="<%= image_url('Frame_39.png') %>" alt="Description of the image">
                <div class="Group">
                    <img src="<%= image_url('Group.png') %>" alt="Description of the image">
                    <div class="Vector">
                        <img src="<%= image_url('Vector.png') %>" alt="Description of the image">
                    </div>
                </div>
            </div>
        </div>

        <div class="Line_11"></div>

        <div class='Social_media_shared_today_tomorrow_or_by_location'>Social media shared today, tomorrow or by location</div>
        <div class="Discover_with_Maze">Discover with Maze</div>
        <div class="login-button">
            <div class="Rectangle_4">
                <%= link_to 'Create account', register_path, class: "create_account_link" %>
            </div>
        </div>

        <div class="or">or</div>

        <div class=" Group_2007">
            <div class="Rectangle_1051">
                <div class="login">
                    <%= link_to 'Sign In', sign_in_path %>
                </div>
            </div>
        </div>
    </div>

</div>